/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    
    
footer {
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding: 1em;
    background-color: blue;
    color: cornsilk;
  
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: rgb(56, 104, 70);
  
  }
} /*end medium */


